<div class="share-modal-header">
	<div class="share-modal-big-icon">
		<i class="fa fa-cloud-upload"></i>
	</div>
	<div>
		<div class="gf-form-button-row" style="padding-top: 0.5rem;">
			<button type="button" class="btn gf-form-btn width-10 btn-success" ng-click="ctrl.saveDashboardAsFile()">
				<i class="fa fa-save"></i> Save to file
			</button>
			<button type="button" class="btn gf-form-btn width-10 btn-secondary" ng-click="ctrl.viewJson()">
				<i class="fa fa-file-text-o"></i> View JSON
			</button>
			<a class="btn btn-link" ng-click="ctrl.dismiss()">Cancel</a>
		</div>

	</div>
</div>
